<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Natural Language Processing</title>
  </head>

  <body>
    <header>
      <h1 class="site-title">Evaluate a News Article with NLP</h1>
    </header>

    <main>
      <section class="intro-section">
        <img alt="ai-npl" src="../assets/ai.jpg" class="intro-img" />

        <div class="overlay-text">
          <p>
            Natural Language Processing (NLP) is a branch of Artificial Intelligence (AI) that enables machines to
            understand the human language. Its goal is to build systems that can make sense of text and automatically
            perform tasks like translation, spell check, or topic classification.
          </p>
        </div>
      </section>

      <hr />

      <section class="form-section">
        <label for="form-analyser__url-field">
          Add a URL to a news article to see what the author's emotions and perspective:
        </label>
        <span class="error-message"></span>
        <form name="analyser">
          <input type="text" id="form-analyser__url-field" placeholder="URL" required />
          <button type="submit" id="form-analyser__submit-button">Analyse</button>
        </form>
        <div class="loader hide">
          <img src="../assets/loader.gif" alt="Loading..." />
        </div>
      </section>

      <section class="results-section">
        <div class="data block hide">
          <div class="title-block">Results</div>
          <p class="polarity">Polarity: <span class="data-value"></span></p>
          <p class="confidence">Confidence: <span class="data-value"></span></p>
          <p class="agreement">Agreement: <span class="data-value"></span></p>
          <p class="subjectivity">Subjectivity: <span class="data-value"></span></p>
        </div>
      </section>
    </main>

    <footer>
      <p>
        Read more about The Meaning Cloud NLP
        <a href="https://www.meaningcloud.com/" target="_blank" rel="noopener">here</a>.
      </p>
      <p>&copy; 2021 <a href="https://github.com/luca-borrione/" target="_blank" rel="noopener">Luca Borrione</a></p>
    </footer>

    <!-- Register Service Workers-->
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
