@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

// Typography
$primary-font-family: Ubuntu, Arial, Helvetica, sans-serif;
$secondary-font-family: 'Asap', sans-serif;

// Colors
$primary-bg-color: #1870da;
$secondary-bg-color: #00a0fe;
$primary-border-color: #1870da;
$primary-font-color: #1870da;
$secondary-font-color: #fff;

$bg-dark-color: #166ed8;
$bg-light-color: #01a1ff;
