@import 'config';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $primary-font-family;
  font-size: 1.3rem;
  color: darken($primary-font-color, 10%);
}

main {
  flex: 2;
}

section {
  width: 800px;
  max-width: 90%;
  margin: 20px auto;
}

h2,
h3 {
  text-align: center;
  padding-bottom: 1em;
  line-height: 1.5;
}

h3 {
  font-weight: 700;
  font-size: 1.4rem;
}

hr {
  width: 150px;
  height: 5px;
  margin: 4em auto;
  background: $primary-bg-color;
  border: none;
}
