@import 'config';

.results-section {
  .block {
    border-radius: 30px;
    border: 1px solid darken($secondary-font-color, 20%);
    background: darken($secondary-font-color, 10%);
    padding: 1em;
    width: 60%;
    margin: auto;

    &.hide {
      display: none;
    }
  }

  .divider {
    margin: 0 0.3em;
    font-weight: 700;
  }

  .data {
    font-size: 1.1rem;

    &-value {
      font-weight: 700;
    }

    p {
      margin-bottom: 0.5em;
    }
  }

  .title-block {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem;
    border: 2px solid $primary-bg-color;
    background: lighten($primary-bg-color, 50%);
    padding: 0.2em 0;
    margin-bottom: 0.5em;
  }
}

@media (max-width: 768px) {
  .results-section {
    .block {
      width: 80%;
    }
  }
}
