@use 'sass:color';

@import '../core/variables';

.form-analyser {
  margin-top: 50px;

  &__error-message h3 {
    padding-bottom: initial;
  }

  form {
    display: flex;

    input,
    button {
      padding: 1.3em 1.7em;
      width: 100%;
      line-height: 16px;
      margin: 10px 0 5px;
      border-radius: 50px;
      outline: none;
      background: color.scale($secondary-font-color, $lightness: -10%);

      &:focus {
        background: color.scale($secondary-font-color, $lightness: -10%);
      }
    }

    input[type='text'] {
      padding-right: 50px;
      border: 1px solid color.scale($secondary-font-color, $lightness: -20%);
    }

    button[type='submit'] {
      width: 10em;
      margin-left: -50px;
      background: color.scale($primary-bg-color, $lightness: 10%);
      border: 1px solid color.scale($primary-bg-color, $lightness: 10%);
      color: $secondary-font-color;
      cursor: pointer;
      transition: 0.2s ease;
      appearance: none;

      &:hover {
        background: $primary-bg-color;
        border: 1px solid $primary-bg-color;
        appearance: none;
      }

      &.hide {
        display: none;
      }
    }
  }

  &__spinner {
    text-align: center;
    margin-top: 2em;
  }

  &__spinner.hide {
    display: none;
  }
}
