@import '../core/variables';

.form-section {
  margin-top: 50px;

  .error-message h3 {
    padding-bottom: initial;
  }

  form {
    display: flex;

    input,
    button {
      padding: 1.3em 1.7em;
      width: 100%;
      line-height: 16px;
      margin: 10px 0 5px;
      border-radius: 50px;
      outline: none;
      background: darken($secondary-font-color, 10%);

      &:focus {
        background: darken($secondary-font-color, 10%);
      }
    }

    input[type='text'] {
      padding-right: 50px;
      border: 1px solid darken($secondary-font-color, 20%);
    }

    button[type='submit'] {
      width: 10em;
      margin-left: -50px;
      background: lighten($primary-bg-color, 10%);
      border: 1px solid lighten($primary-bg-color, 10%);
      color: $secondary-font-color;
      cursor: pointer;
      transition: 0.2s ease;
      -webkit-appearance: none;

      &:hover {
        background: $primary-bg-color;
        border: 1px solid $primary-bg-color;
        -webkit-appearance: none;
      }

      &.hide {
        display: none;
      }
    }
  }

  .loader {
    text-align: center;
    margin-top: 2em;
  }

  .loader.hide {
    display: none;
  }
}
