@use 'sass:color';

@import '../core/variables';

.results {
  &-card {
    border-radius: 30px;
    border: 1px solid color.scale($secondary-font-color, $lightness: -20%);
    background: color.scale($secondary-font-color, $lightness: -10%);
    padding: 1em;
    width: 60%;
    margin: auto;

    &.hide {
      display: none;
    }

    font-size: 1.1rem;

    .data-value {
      font-weight: 700;
    }

    p {
      margin-bottom: 0.5em;
    }

    &__title {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1.2rem;
      border: 2px solid $primary-bg-color;
      background: color.scale($primary-bg-color, $lightness: 50%);
      padding: 0.2em 0;
      margin-bottom: 0.5em;
    }
  }
}

@media (max-width: 768px) {
  .results {
    &__card {
      width: 80%;
    }
  }
}
